@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #dbeafe;
  /* background-color: #0f0e17; */
}

.search-title {
  font-family: "Inter";
  background: linear-gradient(90deg, #00315f, #3395ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 3rem;
}


.result-card {
  background-color: white;
  border: 0.75px solid #e5e5e5;
  border-bottom: none;
}

.result-card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.result-card:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.result-headline {
  color:#0057a9;
  font-size: 1.2em;
  font-weight: 500;
}

.result-date {
  color: #a4a4a4;
  font-size: 0.85em;
}

.result-snippet {
  color: #5e5e5e;
}


.article-headline {
  color: #0057a9;
  font-size: 1.5em;
  font-weight: 800;
}

.article-date {
  color: #0057a9;
  font-size: 1em;
}

.article-body {
  border: 1px solid #484848;
  border-radius: 6px;
}

.search-button {
  background: rgb(53, 122,247);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  transition: height 0.3s, width 0.3s;
}

.search-button:hover {
  background: rgb(53, 122,247);
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.input-container {
  width: 40rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(53, 122,247);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.searchIcon path {
  fill: #fff;
}

.back-btn{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}


.github-btn{
  background: #3d4452;
  color: white;
  border-radius: 4px;
  font-size:0.85rem;
}

.how-btn {
  background: #3d4452;
  color: white;
  border-radius: 4px;
  font-size:0.85rem;
}

.px-16.loaded {
  transition: transform 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
  transform: translateY(-20px); /* Adjust the distance to move upwards */
}

.fadeInUp {
  animation: fadeInUpAnimation 1.5s ease forwards;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
